{%extends "master.html"%}

{%block content%}

    <ul class="list-group">
      <li class="list-group-item ">
        <p>
          This is my first web application made using the Flask microframework.
          This application acts as a multi-user social media tool similiar to
          websites such as Twitter and Facebook. All user data and posts are
          stored in an SQL database and managed with SQLAlchemy.
        </p>
      </li>
      <li class="list-group-item "><b>Created by: </b>Sean Sullivan</li>
      <li class="list-group-item "><b>Status: </b>Still under development</li>
      <li class="list-group-item "><b>Date: </b>January, 2019</li>

    </ul>

{%endblock content%}
